.AppContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #003b4d;
  padding: 50px;
}

.pageText {
  font-family: "Manrope-SemiBold";
  font-size: 25px;
  line-height: 140%;
  color: #ffffff;
  cursor: pointer;
}

.navLink {
  color: white;
  text-decoration: none;
}
